h1 {
    color:blue;
    background-color:pink;
}
body {
    background-color: aquamarine;
}
button{
    background-color: blue;
    color: antiquewhite;
}
.box{
    height:100px;
    width:100px;
    border:1px solid black;
    margin: 5px;
    text-align: center;
    color: blue;
    background-color:plum;
}